.navigator {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
}

.navigator ul li {
  margin: 60px 0;
}

.navigator ul li:first-child {
  margin-top: 0;
}

.navigator ul li:last-child {
  margin-bottom: 0;
}

.navigator ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border: solid 2px white;
  border-radius: 50%;
  color: white;
  height: 45px;
  width: 45px;
}

.navigator::before {
  position: absolute;
  top: 0;
  background-color: white;
  content: '';
  height: 100%;
  width: 2px;
  z-index: 0;
}

.navigator ul{
  z-index: 1;
}

.navigator ul li a:hover, 
.navigator ul li a.active {
  background-color: white;
  color: var(--primary-color);
}

.navigator .navigator__icon {
  position: absolute;
  top: -20px;
}